.options-menu {
  border: 1px solid #333;
  border-radius: 6px;

  margin-left: 10px;
  padding: 10px;
}

.wheel-url-input {
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
}

.setting {
  padding: 5px;
  width: 100%;
}

.setting label {
  display: block;
}

.wheel-color label {
  display: inline;
  margin-right: 5px;
}