.steering {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wheel {
  width: 200px;
  transition: all 0.4s ease-out;
  position: absolute;
  z-index: -1;
}

.stick-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 60%;
  border: solid 1px gray;
  background-color: rgba(0,0,0,0.2);
  border-radius: 50%;
  
}

.stick-thumb {
  position: absolute;
  background-color: #333;
  border: solid 2px yellow;
  border-radius: 50%;
  transition: all 0.1s linear;
}